:root {
  --primary-color-light: #FFC300;
  --primary-color-dark: #FFD700;
  --primary-text-color: #121212;
  --secondary-text-color: #fff;
  --background-color-light: #fff;
  --background-color-dark: #333;
  --card-background-color-light: #f5f5f5;
  --card-background-color-dark: #1e1e1e;
  /* botoes */
  --button-background-color-light: #FFC300;
  --button-background-color-dark: #FFD700;
  --button-background-color-hover-light: #FFC107;
  --button-background-color-hover-dark: #E0A800;
  --button-background-color-active-light: #FFA000;
  --button-background-color-active-dark: #CC8E00;
  --button-text-color-light: #121212;
  --button-text-color-dark: #fff;
  --border-radius: 4px;
  --box-shadow: 0px 0px 9px 2px #000;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: var(--primary-text-color);
  background-color: var(--background-color-light);
  transition: all 0.3s ease;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--secondary-text-color);
}

#root {
  height: 100%;
  width: 100%;
}

#main-topbar {
  background: var(--primary-color-light);
  width: 100%;
  height: 65px;
  padding: 0 10px;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transition: background-color 0.3s ease;
}

body.dark-mode #main-topbar {
  background: var(--primary-color-dark);
}

.app {
  width: 100%;
  height: calc(100% - 65px - 1rem);
  padding: 0 10px;
}

.swiper {
  width: 100%;
  height: 390px;
  border-radius: var(--border-radius);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: var(--card-background-color-light); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

body.dark-mode .swiper-slide {
  /* background: var(--card-background-color-dark); */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev {
  background-color: var(--button-text-color-light);
}

body.dark-mode .swiper-pagination-bullet-active-next,
body.dark-mode .swiper-pagination-bullet-active-next-next,
body.dark-mode .swiper-pagination-bullet-active-prev,
body.dark-mode .swiper-pagination-bullet-active-prev-prev {
  background-color: var(--button-text-color-dark);
}

.c-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

button,
.btn {
  background-color: var(--button-background-color-light);
  color: var(--button-text-color-light);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

button:hover,
.btn:hover {
  background-color: var(--button-background-color-hover-light);
  color: var(--button-text-color-light);
  opacity: 0.9;
}

button:active,
.btn:active {
  background-color: var(--button-background-color-active-light) !important;
  color: var(--button-text-color-light) !important;
  transform: scale(0.98) !important;
}

body.dark-mode button,
body.dark-mode .btn {
  background-color: var(--button-background-color-dark);
  color: var(--button-text-color-dark);
}

body.dark-mode button:hover,
body.dark-mode .btn:hover {
  background-color: var(--button-background-color-hover-dark);
  color: var(--button-text-color-dark);
  opacity: 0.9;
}

body.dark-mode button:active,
body.dark-mode .btn:active {
  background-color: var(--button-background-color-active-dark) !important;
  color: var(--button-text-color-dark) !important;
  transform: scale(0.98) !important;
}

input,
textarea {
  background-color: var(--card-background-color-light);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-color-light);
  border-radius: var(--border-radius);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: var(--card-background-color-dark);
  color: var(--secondary-text-color);
  border-color: var(--primary-color-dark);
}

.card {
  background-color: var(--card-background-color-light);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .card {
  background-color: var(--card-background-color-dark);
  color: var(--secondary-text-color);
}


.container_input-file {
  width: 4rem;
  height: 4rem;
  border: dashed;
}