:root {
  --primary-color-light: #dda534;
  --primary-color-dark: #dda534;
  --primary-text-color: #121212;
  --secondary-text-color: #fff;
  --background-color-light: #fff;
  --background-color-dark: #333;
  --card-background-color-light: #f5f5f5;
  --card-background-color-dark: #1e1e1e;
  /* botoes */
  --button-background-color-light: #dda534;
  --button-background-color-dark: #dda534;
  --button-background-color-hover-light: #ffc107;
  --button-background-color-hover-dark: #e0a800;
  --button-background-color-black-hover-dark: #2e2e2e;
  --button-background-color-active-light: #ffa000;
  --button-background-color-white-active-light: #e6e6e6;
  --button-background-color-white-hover-light: #efefef;
  --button-background-color-active-dark: #cc8e00;
  --button-text-color-light: #121212;
  --button-text-color-dark: #fff;
  --border-radius: 4px;
  --box-shadow: 0px 0px 9px 2px #000;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: var(--primary-text-color);
  background-color: var(--background-color-light);
  transition: all 0.3s ease;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--secondary-text-color);
}

#root {
  height: 100%;
  width: 100%;
}

#main-topbar {
  background: var(--card-background-color-light);
  width: 100%;
  height: 65px;
  padding: 0 10px;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transition: background-color 0.3s ease;
}

body.dark-mode #main-topbar {
  background: var(--card-background-color-dark);
}

.app {
  width: 100%;
  height: calc(100% - 65px - 1rem);
  padding: 0 10px;
}

.swiper {
  width: 100%;
  height: 390px;
  border-radius: var(--border-radius);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: var(--card-background-color-light); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

body.dark-mode .swiper-slide {
  /* background: var(--card-background-color-dark); */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev {
  background-color: var(--button-text-color-light);
}

body.dark-mode .swiper-pagination-bullet-active-next,
body.dark-mode .swiper-pagination-bullet-active-next-next,
body.dark-mode .swiper-pagination-bullet-active-prev,
body.dark-mode .swiper-pagination-bullet-active-prev-prev {
  background-color: var(--button-text-color-dark);
}

.c-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

button,
.btn {
  background-color: var(--button-background-color-light);
  color: var(--button-text-color-light);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

button:hover,
.btn:hover {
  background-color: var(--button-background-color-hover-light);
  color: var(--button-text-color-light);
  opacity: 0.9;
}

button:active,
.btn:active {
  background-color: var(--button-background-color-active-light) !important;
  color: var(--button-text-color-light) !important;
  transform: scale(0.98) !important;
}

body.dark-mode button,
body.dark-mode .btn {
  background-color: var(--button-background-color-dark);
  color: var(--button-text-color-dark);
}

body.dark-mode button:hover,
body.dark-mode .btn:hover {
  background-color: var(--button-background-color-hover-dark);
  color: var(--button-text-color-dark);
  opacity: 0.9;
}

body.dark-mode button:active,
body.dark-mode .btn:active {
  background-color: var(--button-background-color-active-dark) !important;
  color: var(--button-text-color-dark) !important;
  transform: scale(0.98) !important;
}

body.dark-mode .dropdown-menu {
  background-color: var(--background-color-dark) !important;
}

body.dark-mode .dropdown-item {
  background-color: var(--background-color-dark) !important;
  color: var(--button-text-color-dark) !important;
}

.dropdown-item:hover {
  background-color: var(--button-background-color-white-hover-light) !important;
}

body.dark-mode .dropdown-item:hover {
  background-color: var(--button-background-color-black-hover-dark) !important;
}

.dropdown-item:active {
  background-color: var(--button-background-color-white-active-light) !important;
}

body.dark-mode .dropdown-item:active {
  background-color: var(--card-background-color-dark) !important;
}

input,
textarea {
  background-color: var(--card-background-color-light);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-color-light);
  border-radius: var(--border-radius);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: var(--card-background-color-dark);
  color: var(--secondary-text-color);
  border-color: var(--primary-color-dark);
}

.card {
  background-color: var(--card-background-color-light);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .card {
  background-color: var(--card-background-color-dark);
  color: var(--secondary-text-color);
}


.container_input-file {
  width: 4rem;
  height: 4rem;
  border: dashed;
  position: relative;
}

.container_input-file>input {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}